* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Bold';
    src: url(../src/assets/font/Century\ Gothic\ Std\ Bold.otf);
}

@font-face {
    font-family: 'Regular';
    src: url(../src/assets/font/Century\ Gothic\ Std\ Regular.otf);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(66, 149, 222);
}
.container-header {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 6vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #FEFEFE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ccc;
}

.container-header a {
    text-decoration: none;
    color: #000;
}

.container-header h1 {
    font-family: 'Bold';
    font-size: 40px;
    cursor: pointer;
}

.blue {
    color: rgb(130, 178, 221);
}

.container-header input {
    margin-top: 3px;
    width: 30vw;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: 0.5px solid black;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Regular';
   
  }

.search-icon {
    position: absolute;
    right: 455px;
    top: 11.7%;
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px; 
    pointer-events: none; 
  }

.button-login {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    background-color: #FEFEFE;
  }

.button-login:hover {
        opacity: 1;
    }

.profile-container {
        position: relative;
        display: flex;
        align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.signout-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: -95px;
    left: 50%;
    width: 10vw;
    height: 8vh;
    transform: translateX(-50%);
    display: none;
    background-color: #FEFEFE;
    border: 1px solid #ccc;
    padding: 10px;
    padding-top: 3vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.signout-container a {
        text-decoration: none;
        color: #000;
        text-align: center;
}

.signout-container h3 {
    font-size: 15px;
    font-family: 'Bold';
    cursor: pointer;
}
  
  .profile-container:hover .signout-container,
  .signout-container:hover {
    display: block; 
  }

  .signout-button {
    margin-top: 1vh;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #FEFEFE;
    cursor: pointer;
    color: #FEFEFE;
    background-color: rgb(130, 178, 221);
  }


  /* HOME */

  .container-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    background-color: #FEFEFE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10vh;
    margin-bottom: 5vh;
  }

  .container-begin-home {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container-begin-home h2 {
    font-family: 'Bold';
    font-size: 30px;
    margin-top: 1vh;
  }

  .container-begin-home button {
    margin-top: 3vh;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    color: #FEFEFE;
    color: rgb(130, 178, 221);
    background-color: #FEFEFE;
    border: 4px solid rgb(130, 178, 221);
    font-size: 20px;
    font-family: 'Bold';
  }

  .container-begin-home button:hover {
    background-color: rgb(130, 178, 221);
    color: #FEFEFE;
  }

  .container-title {
   width: 98%;
   margin-top: 10vh;
   
  }
  .title {
    font-family: 'Bold';
    font-size: 25px;
  }
  .container-home-book {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    width: 100%;
}

.container-home-book img {
        width: 180px;
        height: 280px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        transition: 0.5s;
    }


.container-home-book h3 {
    font-family: 'Bold';
    font-size: 18px;
}

.container-home-book p {
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Regular';
}

.container-home-book a {
    text-decoration: none;
    color: #000;
}


.book-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: auto;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.book-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.book-item:hover img {
    opacity: 0.2;

}
.book-item:hover .book-info {
    display: block;
}


.book-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px
}

  

/* SEARCH */

.container-search {
  display: flex;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    background-color: #FEFEFE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10vh;
}


.container-search-book {
  margin-top: 1vh;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.container-search-book img {
  width: 180px;
  height: 280px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.container-search-book h3 {
  font-family: 'Bold';
  font-size: 18px;
}

.container-search-book p {
  margin-top: 5px;
  font-size: 15px;
  font-family: 'Regular';
}

.container-search-book a {
  text-decoration: none;
  color: #000;
}
.top {
  margin-top: 3vh;
}

.loading {
  font-size: 20px;
  font-family: 'Bold';
  text-align: center;
  margin-top: 20px;
}



/* BOOK */ 

.container-details {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100%;
  background-color: #FEFEFE;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 10vh;
}

.book-details {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 5vh;
}

.book-cover-details {
  width: 200px;
  height: 350px;
  border-radius: 5px;
}

.book-details-info {
  max-height: 350px;
  overflow-x: scroll;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.book-details-info h2 {
  font-family: 'Bold';
  font-size: 30px;
}

.book-details-info h3 {
  font-family: 'Regular';
  font-size: 20px;
}

.book-details-info p {
  font-family: 'Regular';
  font-size: 15px;
  margin-top: 1vh;
}

.book-details-info a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #000;
}

.book-img-button {
  display: flex;
  flex-direction: column;
  align-items: left;
}


.button-wishlist {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-top: 1vh;
}

.img-wishlist {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.8;
  transform: 0.5s;
  transform: scale(0.95);
}

.img-wishlist:hover {
  opacity: 1;
  transform: scale(1);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Positionne le tooltip au-dessus de l'élément */
  left: 50%;
  margin-left: -60px; /* Centre le tooltip horizontalement */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* Positionne la flèche en bas du tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.button-wishlist:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* AUTHOR */

.title-author {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 30px;
  font-family: 'Bold';
}

/* ERROR */

.error {
  font-size: 20px;
  font-family: 'Bold';
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
}


/* DASHBOARD */

.container-title-dashboard {
  width: 98%;
  margin-top: 4vh;
}

.title-dashboard {
  font-family: 'Bold';
  font-size: 40px;
}

.container-title-dash {
  width: 98%;
  margin-top: 10vh;
}

.container-title-dash h3 {
  font-family: 'Bold';
  font-size: 30px;
}

.delete-button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-top: 1vh;
  z-index: 1;
}